*{
    box-sizing: border-box;
}
html{
    display: grid;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    font: 1.6rem "Roboto",sans-serif;
    color: white;
    background-color: #3b6986;  
}
header{
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    
}
footer{
    text-align: center;
    padding-top: 7rem;
}
h4{
    text-align: center;
}  
.btn{
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    background-color:  #1e5270;
    display: relative;
    border-radius: .2rem;
    width: 15rem;
    line-height: 2rem;
    margin-bottom: .5rem;
}

 